<!-- Config file for the game -->

<config>
  <app>
    <title>Little Big King</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <parallax_speed value="0.5f"/>
  </map>

  <audio>
    <music_folder>audio/music/</music_folder>
    <fx_folder>audio/fx/</fx_folder>
  </audio>

  <scene>
    <map_index value="1"/>
    <first_map name="first_map.tmx"/>
    <second_map name="second_map.tmx"/>
    <first_song name="Worldmap_Theme.ogg"/>
    <second_song name="Dungeon_Theme.ogg"/>
  </scene>

  <player>
    <god_mode value="false"/>
    <gravity value="5.8f"/>
    <velocity_x value="3.0f"/>
    <velocity_y value="2.0f"/>
  </player>

</config>